{% extends 'employeer\layouts\base.html' %}
{% block content %}
<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-las">
            <h3>Settings</h3>
        </div>
        
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'postjob' %}">Jobsettings</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Add Fields</li>
                </ol>
            </nav>
        </div>

    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Add Qualification</h4>
        </div>
        
        <div class="card-body">
            {% for message in messages %}
            <div class="alert {{ message.tags}} alert-dismissible show fade">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
           
            <form  method="post">
                {% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group mb-3">
                            <label for="qualification" class="form-label">Qualification</label>
                            <input type="text" class="form-control" id="qualification" name="qualification" placeholder="Add qualification">
                            <!-- <input type="text"  name="qu" value="{{user.id}}" hidden> -->
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit" id="addqualification">Add Qualifications</button> 
               
            </form>

        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h4 class="card-title">View Qualification</h4>
        </div>
        
        <div class="card-body">
          
            <table class='table table-bordered' id="table1">
                <thead>
                    <tr>
                        <th>Qualification</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>Change Status</th>
                    </tr>
                </thead>
                <tbody>
                {% if pos %}
                   {% for i in pos %}
                    <tr>
                        <td>{{i.qualification_name}}</td>
                        <td>{% if i.status == 0 %}
                                <span class="badge bg-danger">Inactive</span>
                            {% else %}
                                <span class="badge bg-success">Active</span>
                            {% endif %}
                        </td>
                        <td>
                            <a  class="btn btn-danger" href="{% url 'qualificationdelete' i.quali_id %}">Delete</a>     
                            <a  class="btn btn-success" href ="{% url 'qualificationupdate' i.quali_id %}">Edit</a>
                            
                        </td>
                        <td>
                            <a class="btn btn-info" href="{% url 'changestatus' i.quali_id %}">Activate/Deactivate</a>
                        </td>
                        
                    </tr>
                    {% endfor %}
                
                {% endif %}
              
                </tbody>
            </table>
           
        </div>
    </div>

</div>
{% endblock %}