
{% extends 'employeer\layouts\base.html' %}
{% block content %}
<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-las">
            <h3>Chat</h3>
        </div>
        
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="">Chatbox</a></li>
                   
                </ol>
            </nav>
        </div>

    </div>
    <input type="hidden" id="loggeduser" value="{{loggeduserid}}">
    <input type="hidden" id="senttouser" value="{{senttouserid}}">
    <section class="section">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="media d-flex align-items-center">
                            <div class="avatar mr-3">
                                <img src="{{profilelogo.url}}" alt="" srcset="">
                                <!-- <span class="avatar-status bg-success"></span> -->
                            </div>
                            <div class="name flex-grow-1">
                                <h6 class='mb-0'>{{firstname}} {{lastname}}</h6>
                                <!-- <span class='text-xs'>Online</span> -->
                            </div>
                            <button class='btn btn-sm'>
                                <i  data-feather="x"></i>
                            </button>
                        </div>
                    </div>
                    <div class="chat-outside card-body pt-4 bg-grey">
                        <div class="chat-inside chat-content">
                            <!-- <div class="chat">
                                <div class="chat-body">
                                    <div class="chat-message">Hi Alfy, how can i help you?</div>
                                </div>
                            </div>
                            <div class="chat chat-left">
                                <div class="chat-body">
                                    <div class="chat-message">I'm looking for the best admin dashboard template</div>
                                    <div class="chat-message">With bootstrap certainly</div>
                                </div>
                            </div>
                            <div class="chat">
                                <div class="chat-body">
                                    <div class="chat-message">I recommend you to use Voler Dashboard</div>
                                </div>
                            </div>
                            <div class="chat chat-left">
                                <div class="chat-body">
                                    <div class="chat-message">That's great! I like it so much :)</div>
                                </div>
                            </div> -->
                           


                            
                            
                        </div>
                    </div>
                    <div class="card-footer">
                        <form id="send-message-form">
                            <div class="message-form d-flex flex-direction-column align-items-center">
                                <a href="http://" class='black'><i data-feather="smile"></i></a>
                                <div class="d-flex flex-grow-1 ml-4">
                                    <input type="text" class="form-control" id="input-message" placeholder="Type your message..">
                                </div>
                            </div>
                        </form>
                            

                    </div>
                </div>
            </div>
        </div>
    </section>




</div>
{% load static %}

<script src="{% static 'employeer\assets\js\messages.js' %}"></script>

{% endblock %}

