{% extends 'employeer\layouts\base.html' %}
{% block content %}
<div class="page-title">
    <div class="row">
        <div class="col-12 col-md-6 order-md-1 order-las">
            <h3>Applicants</h3>
        </div>
        
        <div class="col-12 col-md-6 order-md-2 order-first">
            <nav aria-label="breadcrumb" class='breadcrumb-header'>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'postjob' %}">All Applicants</a></li>
                </ol>
            </nav>
        </div>

    </div>

    
<div class="card">
    <div class="card-header">
        <h4 class="card-title">Applicants</h4>
    </div>
    
    {% comment %} <div class="ml-4"> {% endcomment %}
        {% comment %} <form method="post" id="search-form" action="">
            {% csrf_token %}
    
        <div class="row mb-3 align-items-end"> {% endcomment %}
            
            <!-- <div class="col-lg-8">
                <div class="input-group d-md-flex">
                    <input class="form-control" type="search" aria-label="Search" id="search_text" placeholder="Search" name="searched">
                    <div class="input-group-append">
                        <button class="btn btn-secondary ml-2" id="normalsearch" type="submit">Search</button>
                    </div>
                   
                   
                </div>
            </div> 
        -->
        {% comment %} </div>
        </form> {% endcomment %}
    {% comment %} </div> {% endcomment %}
        

    <div class="card-body">
        
        <table class='table table-bordered' id="table1">
        {% if applicantdetails %}
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Applicant Name</th>
                    <th>Photo</th>
                    <th>View</th>
                </tr>
            </thead>
            
            <tbody>
                {% for i in applicantdetails %}
                    {% for j in jobdetails %}
                        {% if i.job_id == j.job_id %}  
                            <tr>
                                <td>{{forloop.counter}} </td>
                                <td> 
                                  {% for k in jobseeker %}
                                      {% if k.id == i.jobseekerprofile_id %}
                                          {{k.first_name}}   {{k.last_name}} 
                                      {% endif %}                                    
                                  {% endfor %}
                                </td>
                                <td>
                                  {%  for l in jobseeker %}
                                      {% if l.id == i.jobseekerprofile_id %}
                                          <img src="{{l.profile_photo.url}}" style="width: 75px;height: 75px;">
                                      {% endif %}                                    
                                  {% endfor %}
                                </td>

                                
                                <td>
                                    {% for l in jobseeker %}
                                        {% if l.id == i.jobseekerprofile_id %}
                                            <a href="{% url 'applicantdetails' l.id i.application_id %}" class="btn btn-success">View</a>
                                        {% endif %}                                    
                                    {% endfor %}
                                </td>
                            </tr>
                      {%  endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        {% endif %} 
        </table>
        
                
    </div>


    <script>
        //console.log("Hai");

        {% comment %} $("#schedulebutton").on("click",function(e)
        {
            console.log("Hai");
        }) {% endcomment %}
        $('.schedule-form').submit(function(e) {
          console.log("Hai");
          e.preventDefault();
          $.ajax({
            url: "/addscheduleinterview/",
            type: "POST",
            data: $(this).serialize(),
            beforeSend: function(xhr) {
              xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
            },
            success: function(data) {
              if (data.status == "Success") {
                // do something
              } else {
                alert(data.message);
              }
            },
            error: function() {
              alert("");
            }
          });
        });


        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length == 2) return parts.pop().split(";").shift();
          }
             
      </script>


    

    

</div>
{% endblock %}