{% extends 'jobseeker\layouts\base.html' %}
{% load static %}
{% block content %}

<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                   
                </div>
            </div>
        </div>
    </div>
</div>

<div class="job_listing_area plus_padding">
    <div class="container">
        <div class="row">
            <div style="align-items: center;">
                <div class="button-group-area mt-40 ">
                    <div class="d-flex justify-content-center">
                        <div class="p-2"><a href="{% url 'coverletterform' %}" class="btn btn-primary btn-lg">GENERATE COVERLETTER</a></div>
                        <div class="p-2"><a href="{% url 'allcoverletter' %}" class="btn btn-success btn-lg">VIEW</a></div>
                    </div>
                    
                </div>
            </div>
            
               
        </div>
    </div>
</div>

    

 

{% endblock%}