{% extends 'jobseeker\layouts\base.html' %}
{% load static %}
{% block content %}


<div class="bradcam_area bradcam_bg_1">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="bradcam_text">
                    <h3>{{jobtitle}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="job_details_area">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>

{% endblock %}
