{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            Hire-U Recruitment Portal
        </title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"  />
        <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    </head>
    <body class="d-flex flex-column min-vh-100">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-5">
            <div class="container-fluid">
              <a class="navbar-brand fw-bold" href="{% url 'index' %}"><i class="fa-solid fa-briefcase fa-sm"></i> Hire-U </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse " id="navbarColor01">
                <ul class="navbar-nav me-auto ms-auto">
                  <li class="nav-item">
                    <a class="nav-link active fw-bold" href="#Home">Profile
                      <span class="visually-hidden">(current)</span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link fw-bold" href="#Jobs">Jobs</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link fw-bold" href="#">Services</a>
                  </li> -->
                  
                </ul>
                
              </div>
            </div>
        </nav>

        <div class="main-content container-fluid">
    
            {% block content %}
                
            {% endblock %}

        </div>
       

</body>
</html>
